[Unit]
Description=Handle internal sdcard
After=init-done.service
Conflicts=rescue.target actdead.target factory-test.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/mount-storage.sh

[Install]
WantedBy=multi-user.target

